*
{
  margin:0;
  padding:0;
}



body
{
  font-family: 'Tangerine', cursive;
  width: 100%;    
  background-image: linear-gradient(to right, #b6e0d2,#195539);
}

#contenedor{
  
  width: 100%;
  height: 112px;
  margin: auto;
  overflow: hidden;
  
}

.header{
  
  height: 85px;
}

.menu{
  background-image: linear-gradient(to right, #b6e0d2,#195539);
  width: 100%;
  height: 150px;
  justify-content: center;
 
}




.logo{

  text-align: center;

}
/* contenido */
.contenido{
 
  width: 700px;
  height: 1053px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;

}



.articulo{

  height: 400px;
  width: 160%;

}


/*  */
aside{
position: relative;
height: 1053px;
margin-top: 10px;
float: right;
overflow: hidden;

text-align: center;
}

 .noticias{
  background-color:  #041b17;
  text-align: center;
  width: 278px;
  height: 350px;
  
 float: right;

 }



 .noticias-2{
  background-color: #041b17; 
  text-align: center;
  width: 278px;
  height: 350px;
 float: right;
 }



.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 52.1%;
    left: 70%;
    transform: translate(-50%, -50%);
}


.propaganda{
  text-align: center;
  width: 190px;
  float: left;
  background-color: gainsboro;
}






/* nabvar */

#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar
{
  background-image: linear-gradient(to right, #b6e0d2,#195539);
  padding: 0!important;
  width: 100%;
  height: 60px;
  
}

.navbar-brand img
{
  height: 50px;
  padding-left: 20px;

}


.navbar-nav li
{
  padding: 0 10px;
}

.navbar-nav li a
{
  color: #000000!important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars
{
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler
{
  outline: none !important;
}

/* 
#carrusel{
 
  position:relative;
}

#carrusel div{
 
  
  position: relative;
  bottom:25px;
  padding:2px 10px;
  opacity:0.4;
  font-weight:bold;
  overflow: hidden;


} */

/*----------------------Footer section--------------------*/

.footer
{
  background-image: linear-gradient(to right, #b6e0d2,#195539);
  clear: both;
  text-align: center;
  padding:20px;
 
  
}



