
body
{
  font-family: sans-serif;

}

#contenedor{
  width: 1180px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
 
}

.header{
  height: 85px;
}

.menu{
  background-image: linear-gradient(to right, rgb(212, 240, 223),rgb(73, 139, 117));

  height: 150px;
  justify-content: center;
}

form{
    margin-top: 100px; 
}
form button{
    position: relative;
   
     margin-bottom:80px;
}


.logo{

  text-align: center;
}

/* contenido */
#contenido{
 
    width: 890px;
    height: 1080px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    

    
  }

.textarea{
  
  width: auto;
  height:auto ;
  border-radius: 10%;
  background-image: url("images/fondo.jfif"); 
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
}
button.btn.btn-danger{
  padding: 3px;
  border-radius: 80%;
  

}
button.btn.btn-info{
  padding: 3px;
  border-radius: 80%;
}


.borrar{
  border-radius: 80%;
  margin-top: 150px;
  
 
}
.edit{

  padding: 15px;
  border-radius: 80%;
  margin-top: 135px;
  text-align: center;
}



  .posteo{
    height: 360px;
    width: 890px;
    background-image: url("images/agua.jpg");
    background-size: cover;
  
  }
  .posteo h1{
    position:absolute;
    font-size: 28px;
    left: 115px;
    top: 14px;
  }
  .posteo img{
    position: absolute;
    height: 80px;
    width: 80px;
    left: 20px;
    top: 2px;
    border-radius: 50%;
  }
  
  .re-posteos{

    background-image: url("images/fondo-2.jfif");
    background-size: cover;
    text-align: center;
    height: 360px;
    width: 890px;
    overflow: hidden;
   
  }



 
 #fondo{
  background-image: linear-gradient(to right, rgb(10, 241, 68),#a1a129);
  border-radius: 50%;
 }

  
  
  /*  */
  aside{
  width: 276px;
  height: 720px;
  margin-top: 10px;
  float: right;
  overflow: hidden;
  border:0.5px solid #000000;
  }
  
   /* .noticias{
    text-align: center;
    width: 276px;
    height: 720px;
    border:0.5px solid grey;
   float: right;
  
  }
   */
  
  .comentario{
    position: absolute;
    top: 105px;
    left:40px;
    
  }
  
  
 
  
#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar
{
  background-image: linear-gradient(to right, rgb(212, 240, 223),rgb(73, 139, 117));
  padding: 0!important;
  width: 100%;
  height: 85px;
  
}

.navbar-brand img
{
  height: 50px;
  padding-left: 20px;

}


.navbar-nav li
{
  padding: 0 10px;
}

.navbar-nav li a
{
  color: #fff!important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars
{
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler
{
  outline: none !important;
}
/*----------------------Footer section--------------------*/

.footer
{
  background-image: linear-gradient(to right, rgb(241, 223, 223),#202020);
  clear: both;
  text-align: center;
  padding:20px;
  border:0.5px solid #000000;
  
}
