*
{
  margin:0;
  padding:0;
}

body
{
  font-family: sans-serif;
}

#nav-bar
{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar
{
  background-image: linear-gradient(to right, #99ffeb,#009933);
  padding: 0!important;
}

.navbar-brand img
{
  height: 50px;
  padding-left: 20px;

}

.navbar-nav li
{
  padding: 0 10px;
}

.navbar-nav li a
{
  color: #fff!important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars
{
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler
{
  outline: none !important;
}

/*-------------------banner section------------------*/

#banner
{
  background-image: linear-gradient(to right, #99ffeb,#00cc44);
  color: #fff;
  padding-top: 5%;
  /*padding-block-end: 15%;*/
}

.promo-title
{
  font-family: Baloo Bhai;
  font-size: 60px;
  font-weight: 600;
  margin-top: 100px;
  text-align: center;
}
.p{
  font-size: 19px;
}
.bottom-img{
  width: 100%;
  padding-top: 130px;
}

/*----------------------Footer section--------------------*/

.footer
{

  padding-top: 1,25rem;

  text-align: center;

}

.col-lg-4 mb-5 mb-lg-0
{
  align-content: space-around;
}
